main .conteudo-principal{
    margin: 0 auto;
    max-width: 1500px;
}

.header-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-check{
    width: 1rem;
    margin-top: 3.688rem;
    margin-right: 8rem;
}
.check-list2 img{
    margin-left: 7.25rem;
    margin-top: 7rem;
    width: 8rem;

}

.header-list h1{
    margin-top: 2rem;
}

.input-check{
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.input-check .input-box{
    width: 7rem;
}

.input-box:nth-child(2){
    width: 15rem;
}

.alert img{
    width: 10rem;
    /* margin-left: 10rem;
    margin-top: -5rem; */
}

@media screen and (max-width:767px){

    .header-list{
        display: flex;
        flex-direction: column;
        justify-content:center ;
        align-items: center;
        flex-wrap: wrap;
    }

    .header-list .logo img{
        margin-top: 10px;
        margin-left: -10rem;
    }

    .header-list h1 {
        margin-top: 3rem;
    }

    .check-list2 img{
        display: none;
    }

    .input-check {
        display: flex;
        justify-content: center;
        gap: 0;
        margin-top: 2rem;
    
    }

    .alert{
        margin-left: 0;
    }

}