<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../Styles/check-list.css"> -->
    <link rel="stylesheet" href="../Styles/global.css">
    <link rel="stylesheet" href="../Styles/registration.css">
    <link rel="stylesheet" href="../Styles/count-order.css">
    <link rel="stylesheet" href="/ProjetoSI3/ProjetoSI-master-Gustavo/Styles/maintenance.css">

    <!-- <link rel="stylesheet" href="/styles/bootstrap.css"> -->
    <title>MANUTENÇÃO DE PEDIDOS</title>
</head>

<body>
    <header>
        <div class="menu">
            <!-- <div class="collapse" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                  <h5 class="text-white h4">Teste</h5>
                  <span class="text-muted"></span>
                </div>
              </div>
              <nav class="navbar navbar-light bg-dark">
                <div class="container-fluid">
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>
              </nav> -->
        </div>
    </header>
    <main class="conteudo-principal">
        <section>
            <div class="header-list">
                <div class="logo">
                    <img src="/ProjetoSI3/ProjetoSI-master-Gustavo/img/logo.PNG" alt="">
                </div>
                <div class="bag-count">
                    <div><img style="width: 80px" src="../img/configuracoes.png" alt=""></div>
                    <h1>MANUTENÇÃO DE PEDIDOS</h1>
                </div>
            </div>

            <div class="input-check">
                <div class="input-box3">
                    <label for="number">ID</label>
                    <input type="number" type="num" name="number">
                    <div class="d-flex justify-content-around form-btn flex-wrap">
                        <a href="#">Executar</a>
                    </div>

                </div>
                <div>

                    <div class="input-box">
                        <label for="firstname">NOME</label>
                        <input type="firstname" type="text" name="firstname" placeholder="Digite o nome do cliente"
                            required>
                    </div>
                    <div class="input-box">
                        <label for="number">TELEFONE</label>
                        <input type="number" type="number" name="number" placeholder="Endereço">
                    </div>
                    <div class="input-box">
                        <label for="firstname">ENDEREÇO</label>
                        <input type="firstname" type="text" name="firstname" placeholder="Digite o endereço">
                    </div>
                    <div class="input-box">
                        <label for="number">CEP</label>
                        <input type="number" type="number" name="number" placeholder=" * * * * *  -  * * * ">
                    </div>
                    <div class="input-box">
                        <label for="number">Valor total</label>
                        <input type="number" type="number" name="number">
                    </div>
                </div>
                <div class="hand">
                    <img src="/ProjetoSI3/ProjetoSI-master-Gustavo/img/hand.PNG" alt="">
                </div>
            </div>
            <div class="count-check2">
                <div class="d-flex justify-content-around form-btn flex-wrap">
                    <a href="#">Alterar</a>
                </div>
                <div class="d-flex justify-content-around form-btn flex-wrap">
                    <a href="#">Sair</a>
                </div>
                <div class="d-flex justify-content-around form-btn flex-wrap">
                    <a href="#">Excluir</a>
                </div>
            </div>
        </section>
    </main>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="/Controllers/bootstrap.js"></script>
</body>

</html>